<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">
            <a href="/">RateIt</a>
          </li>
        </ul>
      </div>
      <section class="top-bar-right">
        <ul class="menu">
          <li>
            <%= link_to 'manage topics', '/admin' %>
          </li>
        </ul>
      </section>
    </nav>
    <div class="row">
      <div class="large-12 columns">
        <%= yield %>
      </div>
    </div>
    

  </body>
</html>
